node_modules
*.log
.prettierrc.json
.prettierrc.yaml
!packages/prettier/.prettierrc.yaml
.prettierignore
!packages/prettier/.prettierignore
.eslintrc.yaml
!packages/**/.eslintrc.yaml
.eslintignore
!packages/**/.eslintignore
.turbo
